:root {
    --clear: #FFFFFF;
}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    color: var(--clear);
    text-align: center;
    font-size: 28px;
}
body {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    margin: 0;
    align-items: center;
    font-family: 'Jura', sans-serif;
}
a {
    text-decoration: none;
}
.gForm {
    background: linear-gradient(to top, rgba(0, 10, 22, 0.526) 0%, rgba(83, 120, 149, 0.515) 100%),url('./assets/img/index/gForm.jpg');

}
.howMuchPay {
    background: linear-gradient(to top, rgba(0, 10, 22, 0.526) 0%, rgba(83, 120, 149, 0.515) 100%),url('./assets/img/index/howMuchPay.jpg');

}
.meMeMo {
    background: linear-gradient(to top, rgba(0, 10, 22, 0.526) 0%, rgba(83, 120, 149, 0.515) 100%),url('./assets/img/index/meMeMo.jpg');

}
.salaryAnalysis {
    background: linear-gradient(to top, rgba(0, 10, 22, 0.526) 0%, rgba(83, 120, 149, 0.515) 100%),url('./assets/img/index/salaryAnalysis.jpg');

}
.gForm,.howMuchPay,.meMeMo,.salaryAnalysis {
    height: 100vh;
    text-align: center;
    color: var(--clear);
    background-size: 150%;
    background-position: center;
    transition: .5s ease-in-out all;
}
.gForm:hover,
.howMuchPay:hover,
.meMeMo:hover,
.salaryAnalysis:hover {

    background-size: 200%;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: var(--clear);
    text-align: center;
    transition: .5s ease-in-out all;
}
.card:hover {
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 10px );

}
.card p{
    font-size: 24px;
}
.logo {
    height: 80px;
}
#title {
    font-size: 28px;
    font-weight: bold;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: var(--clear);
    text-align: center;
    font-size: 16px;
}
footer a{
    color: var(--clear);
    font-weight: bolder;
}